# dependencies
/web-development/module-2/node/module/node_modules
/web-development/module-2/web-scrapping/node_modules

# executable
C:\Users\navde\OneDrive\Desktop\fjp6\Oops\class\ClassRefInstance.class
C:\Users\navde\OneDrive\Desktop\fjp6\Oops\class\ClassRefInstance$Person.class
C:\Users\navde\OneDrive\Desktop\fjp6\Oops\class\Oops.class