.loginWrapper {
    display: flex;
    justify-content: center;
}

.loginCard {
    width: 30vw;
    margin: 5%;                                                                                     /* margin: 10%; */
}

.instagram-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-logo img{
    width: 60%;
}

.sliderCard {
    margin-top: 8vh;
    margin-right: 5vw;
    height: 500px;                                                                                  /* height: 590px; */
    width: 360px;                                                                                   /* height: 441px; */
    position: relative;
}

.sliderImgs {
    height: 50px;
    width: 305px;
    position: absolute;
    left: 130px;
    top: 60px;
}

@media only screen and (max-width:620px) {
   
}