.signupWrapper {
    display: flex;
    justify-content: center;
}

.signupCard {
    width: 30vw;
    margin: 5%;
}

.instagram-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-logo img{
    width: 60%;
}

@media only screen and (max-width:620px) {
    .signupCard {
        width: 60%;
    }

    .instagram-logo img {
        width: 60%;
    }
}