body {
    margin: 0;
}

.main-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.upload-img {
    height: 3rem;
    width: 3rem;
    background-color: lightgoldenrodyellow;
}

/* .reels-cont {
    display: flex
} */